
    <tr>
            <td> {{ tes.nachname}}</td>
            <td> {{ tes.projectName}}</td>
            <td> {{ tes.description}}</td>
            <td> {{ tes.name}}</td>
            <td> {{ tes.internalCommentary}}</td>
            <td> {{ tes.start|date('H:i')}}</td>
            <td> {{ tes.end|date('H:i')}}</td>
        <td> {{ tes.total|date('%H:%M')}}</td>
    </tr>